.container {
    padding: 1em;
    width: 40em;
    background-color: rgba(0, 0, 0, 0.9);
}

.container .title {
    color: aquamarine;
    text-align: center;
}

.container span {
    color: bisque;
    margin-left: 1em;
}

.container input {
    width: 5em;
    border: none;
    border-radius: 0.4em;
}

.container #error-msg p {
    color: red;
}

.img-div {
    width: 40em;
    height: auto;
    border: 0.4em solid rgba(0, 0, 0, 0.9);
}

.img-div img {
    width: 100%;
    height: auto;
}

.btn {
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 0.2em;
    width: 7em;
}

.btn:hover {
    cursor: pointer;
    width: 8.5em;
}

.btn-primary {
    background-color: aquamarine;
}